:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black-background: hsl(0, 0%, 0%);

  --light: 400;
  --bold: 700;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Kumbh Sans", "sans-serif";
}

.container {
  width: 88%;
  max-width: 1000px;
  margin-inline: auto;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  inset: 0;
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.6s ease;
}

.show-mobileNav {
  transform: translateX(0);
}

.nav {
  background: var(--White);
  min-height: 100vh;
  width: 60%;
  padding-block-start: 1rem;
  padding-inline-start: 1rem;
}

.link-conatainer {
  font-weight: var(--bold);
  padding-block-start: 2.5rem;
  color: var(--Dark-grayish-blue);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
  gap: 1em;
  align-items: center;
}

.header {
  display: flex;
  column-gap: 1em;
  padding-block: 0.6rem;
  /* margin-block-end: 1rem; */
  justify-content: space-between;
}

.header-left {
  flex-basis: 80%;
}

.header-right {
  justify-content: end;
  position: relative;
}

.cart-quantity-el {
  background: var(--Orange);
  font-size: 10px;
  color: var(--White);
  padding: 0.1em 0.6em;
  font-weight: var(--bold);
  border-radius: 1em;
  position: absolute;
  right: 2rem;
  bottom: 1.2rem;
}

.profile-div {
  width: 25%;
}

.title {
  font-size: 30px;
  font-weight: var(--bold);
}

.swiper {
  overflow: hidden;
  z-index: 0;
}

/* Custom pagination dots */
.swiper-pagination-bullet {
  background-color: white;
  opacity: 0.5;
  margin: 0 6px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: whitesmoke;
  width: 20px;
  border-radius: 10px;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--Black-background);
  background: var(--White);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1rem;
  font-weight: bold;
}

.products img {
  height: 310px;
  width: 100%;
  object-fit: cover;
}

.empty-cart-container,
.filled-cart-container {
  position: absolute;
  inset: 1rem 0.7rem 2.5rem 0.7rem;
  background: var(--White);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 10px;
}

.empty-cart-container h2,
.filled-cart-container h2 {
  font-size: 18px;
  font-weight: var(--bold);
  margin: 1rem;
}

.empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75%;
}

.empty-cart p {
  font-weight: var(--bold);
  color: var(--Grayish-blue);
  font-size: 18px;
}

.filled-cart {
  padding: 1rem;
}

.cart-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.cart-product-left {
  flex-basis: 18%;
  border-radius: 5px;
}

.cart-product-left img {
  border-radius: inherit;
}

.cart-product-middle {
  flex-basis: 80%;
}

.text-gray {
  color: var(--Dark-grayish-blue);
}

hr {
  color: var(--Grayish-blue);
}

.slide-control-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1rem;
  position: absolute;
  right: 0;
  left: 0;
  top: 50%;
}

.slide-btns {
  background: var(--White);
  display: inline-block;
  padding: 0.7rem;
  border-radius: 100%;
  width: 2rem;
}

.product-details {
  margin-block-start: 1rem;
}

.product-title {
  text-transform: uppercase;
  color: var(--Grayish-blue);
  font-weight: var(--bold);
  font-size: 14px;
  margin-block-end: 1rem;
}

.product-des {
  font-size: 28px;
  font-weight: var(--bold);
  width: 16rem;
  line-height: 1;
  margin-block-end: 0.8rem;
}

.product-summary {
  color: var(--Very-dark-blue);
  margin-block-end: 2rem;
}

.price-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1rem;
}

.current-price {
  font-weight: var(--bold);
  font-size: 28px;
}

.discount {
  background: var(--Black-background);
  color: var(--White);
  position: absolute;
  padding: 0.2em 0.8em;
  font-weight: var(--bold);
  font-size: 16px;
  border-radius: 0.3em;
  left: 37%;
  top: 10%;
}

.price-before {
  text-decoration: line-through;
}

.cart-quantity-container {
  display: flex;
  justify-content: space-between;
  background: var(--Light-grayish-blue);
  padding: 1rem 1.5rem;
}

.add-to-cart-btn,
.checkout-btn {
  background: var(--Orange);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--bold);
  width: 100%;
  margin-inline: auto;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 10px;
  margin-block-start: 1rem;
}

.add-to-cart-btn img {
  width: 1.2rem;
}
